@using Photos.PL.WebPages.Models
@{
    Layout = "~/_Layout.cshtml";
    PageData["Title"] = "Albums";

    if (!User.Identity.IsAuthenticated)
    {
        Response.StatusCode = 401;
        return;
    }

    string errorMessage = null;
    string infoMessage = null;
    int userId = -1;
    bool isOwner = false;
    ICollection<Photos.Entites.Album> albums = null;

    var log = Photos.Logger.Logger.Log;

    if (Request["userid"] != null)
    {
        try
        {
            userId = Convert.ToInt32(Request["userid"]);
        }
        catch (Exception ex)
        {
            errorMessage = ex.Message;
            log.Error("Convert userid parametr to int", ex);
            goto End;
        }

        isOwner = Request["userid"] == Request["useridcookie"];
    }
    else
    {
        Tuple<int, string> userIdQuery = null;

        userIdQuery = LogicProvider.GetUserId(User.Identity.Name);

        if (userIdQuery.Item2 != null)
        {
            errorMessage = userIdQuery.Item2;
            log.Error(errorMessage);
            goto End;
        }

        userId = userIdQuery.Item1;
        isOwner = true;
    }

    Tuple<ICollection<Photos.Entites.Album>, string> albumsQuery = null;
    albumsQuery = LogicProvider.GetAlbums(userId);

    if (albumsQuery.Item2 != null)
    {
        errorMessage = albumsQuery.Item2;
        goto End;
    }

    // If User doesn't have any albums
    if (albumsQuery.Item1 == null)
    {
        if (isOwner)
        {
            infoMessage = "You don't have any albums. Please create new album before upload photos.";
        }
        else
        {
            infoMessage = "No albums";
        }

        goto End;
    }

    albums = albumsQuery.Item1;

End:
}

<div class="content content-albums container-fluid" data-user-id="@userId">
    @if (errorMessage != null)
    {
        <div class="alert alert-danger">@errorMessage</div>
    }

    @if (infoMessage != null)
    {
        <div class="alert alert-info alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            @infoMessage
        </div>
    }

    @if (isOwner)
    {
        <div class="row first-row">
            <div class="col-md-4">
                <h2>Albums</h2>
            </div>
            <div class="col-xs-3">
                <button class="btn btn-default" data-toggle="collapse" data-target="#collapseNewAlbum" aria-expanded="false" aria-controls="collapseNewAlbum">
                    New Album
                </button>
            </div>
        </div>
    }

    <div class="collapse" id="collapseNewAlbum">
        <div class="row well">
            <div class="input-group col-md-8 has-feedback">
                <span class="input-group-addon" id="new-album-label-addon">New Album</span>
                <input type="text" class="form-control name-input" placeholder="Name" aria-describedby="new-album-label-addon">
                <span class="input-group-btn">
                    <button class="btn btn-primary new-album-save-btn" type="button">Submit</button>
                </span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 well">
            @if (albums != null)
            {
                foreach (var album in albums)
                {
                    <div class="col-xs-6 col-sm-4 col-md-3">
                        <a href="~/Pages/Photos?albumid=@album.Id" class="thumbnail" data-album-id="@album.Id">
                            <div class="image-container">
                                <img class="album-cover" src="~/Pages/GetImage?type=album&albumid=@album.Id" alt="@album.Name">
                            </div>
                            <div class="album-name">
                                <b>@album.Name</b>
                            </div>
                            @if (isOwner)
                            {
                                <div class="btn btn-default remove-btn">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </div>
                                <div class="btn btn-default edit-btn">
                                    <span class="glyphicon glyphicon-pencil"></span>
                                </div>
                            }
                        </a>
                    </div>
                }
            }
            
        </div>
    </div>

    <!-- ErrorModal -->
    @RenderPage("~/Pages/_ErrorModalPartial.cshtml")
    <!--  -->

    <!-- EditPrompt -->
    @RenderPage("~/Pages/_EditPromptPartial.cshtml")
    <!--  -->

    <!-- RemovePrompt -->
    @RenderPage("~/Pages/_RemovePromptPartial.cshtml")
    <!--  -->

</div>


@section header {
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="~/images/employee_icon.png" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/ProjectStyles/style.css" rel="stylesheet" />
}

@section scripts {
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ProjectScripts/albums.js"></script>
}
