@using Photos.PL.WebPages.Models
@{
    Layout = null;

    var userLogic = LogicProvider.UserLogic;

    var nameExp = "^[a-zA-Z](?:(?:[ _]?[a-zA-Z0-9])*[ _]?[a-zA-Z0-9])?$";
    var usernameExp = "^(?=.{6,}$)[a-zA-Z](?:(?:_?[a-zA-Z0-9])*_?[a-zA-Z0-9])?$";
    var passwExp = "^(?=.{6,}$)([^\\s]*[a-zA-Z0-9][^\\s]*)+$";

    Validation.RequireField("firstname", "First name is required.");
    Validation.RequireField("lastname", "Last name is required.");
    Validation.RequireField("username", "User name is required.");
    Validation.RequireField("passwd", "Password is required.");
    Validation.Add("firstname", Validator.Regex(nameExp));
    Validation.Add("lastname", Validator.Regex(nameExp));
    Validation.Add("username", Validator.Regex(usernameExp));
    Validation.Add("passwd", Validator.Regex(passwExp));

    string firstname = Request["firstname"];
    string lastname = Request["lastname"];
    string username = Request["username"];
    string passwd = Request["passwd"];

    string errorMessage = null;
    var log = Photos.Logger.Logger.Log;

    if (IsPost)
    {
        if (Validation.IsValid())
        {
            if(userLogic.GetUserByUserName(username) != null)
            {
                errorMessage = $"The user \"{username}\" allready exists";
                log.Info($"An attempt to register allready registered user: {username}");
            }
            else
            if(SignUpPage.AddUser(firstname, lastname, username, passwd))
            {
                log.Info($"User {username} has been registered");
                Response.Redirect("/Pages/SignIn.cshtml?signup=1&username=" + username);
                return;
            }
        }
    }
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Content/ProjectStyles/style.css" />
    <title>Sign Up</title>
</head>
<body>
    <div class="container content-login">
        <div class="signup-box mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="panel-title">Sign Up</div>
                    <div class="container-show-signin">
                        <a class="show-signin" href="~/Pages/SignIn.cshtml">Sign In</a>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="" method="post" class="form-horizontal" role="form">
                        <div class="form-group has-feedback">
                            <label for="firstname" class="col-md-3 control-label">First Name</label>
                            <div class="col-md-9">
                                <input id="firstname" type="text" class="form-control name-input" name="firstname" placeholder="First Name" value="@firstname">
                                <span class="glyphicon glyphicon-warning-sign form-control-feedback hide badIcon"></span>
                                <span class="glyphicon glyphicon-ok form-control-feedback hide goodIcon"></span>
                                @Html.ValidationMessage("firstname")
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="lastname" class="col-md-3 control-label">Last Name</label>
                            <div class="col-md-9">
                                <input id="lastname" type="text" class="form-control name-input" name="lastname" placeholder="Last Name" value="@lastname">
                                <span class="glyphicon glyphicon-warning-sign form-control-feedback hide badIcon"></span>
                                <span class="glyphicon glyphicon-ok form-control-feedback hide goodIcon"></span>
                                @Html.ValidationMessage("lastname")
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="username" class="col-md-3 control-label">User Name</label>
                            <div class="col-md-9">
                                <input id="username" type="text" class="form-control username-input" name="username" placeholder="User Name" value="@username">
                                <span class="glyphicon glyphicon-warning-sign form-control-feedback hide badIcon"></span>
                                <span class="glyphicon glyphicon-ok form-control-feedback hide goodIcon"></span>
                                @Html.ValidationMessage("username")
                            </div>
                        </div>
                        <div class="form-group has-feedback">
                            <label for="password" class="col-md-3 control-label">Password</label>
                            <div class="col-md-9">
                                <input id="password" type="password" class="form-control password-input" name="passwd" placeholder="Password">
                                <span class="glyphicon glyphicon-warning-sign form-control-feedback hide badIcon"></span>
                                <span class="glyphicon glyphicon-ok form-control-feedback hide goodIcon"></span>
                                @Html.ValidationMessage("passwd")
                             </div>
                        </div>

                        <div class="form-group">
                            <!-- Button -->
                            <div class="col-md-offset-3 col-md-9">
                                <button class="btn btn-info" name="register-btn" value="1">Register</button>
                            </div>
                        </div>
                        
                        <div class="alert alert-danger hide">
                            <p>Error:</p>
                            <span></span>
                        </div>

                        @if (errorMessage != null)
                        {
                            <div class="alert alert-danger col-sm-12">@errorMessage</div>
                        }
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/ProjectScripts/signin.js"></script>
</body>
</html>
