@using Employees.PL.Web.Models

@{ 
    Layout = "~/_Layout.cshtml";
    PageData["Title"] = "New Employee";

    if (!User.Identity.IsAuthenticated)
    {
        Response.StatusCode = 401;
        return;
    }

    var userLogic = LogicProvider.Instance.UserLogic;
    var awardLogic = LogicProvider.Instance.AwardLogic;

    Validation.RequireField("name", "Product name is required.");

    var userIdStr = string.Empty;
    var name = string.Empty;
    var bDay = string.Empty;
    var awards = string.Empty;
    var readOnly = string.Empty;
    var disabledBtn = string.Empty;

    if (!IsPost)
    {
        if (!User.IsInRole("admins"))
        {
            readOnly = "readonly='readonly'";
            disabledBtn = "disabled";
        }

        userIdStr = Request["userid"];
        if (userIdStr != null)
        {
            int userId = Convert.ToInt32(userIdStr);
            var user = userLogic.GetAllUsers().First(u => u.Id == userId);

            var strBuild = new System.Text.StringBuilder();
            foreach (var award in awardLogic.GetAwardsByUserId(userId))
            {
                strBuild.Append(award.Title + ",");
            }

            name = user.Name;
            bDay = user.BirthDay.ToShortDateString();
            awards = strBuild.ToString().TrimEnd(',');
        }
        else
        {
            userIdStr = "0";
        }
    }
}

<div class="content" data-user-id="@userIdStr">
    <div class="row">
        @*<div class="col-xs-5 left-col avatar-container editBlock hide">*@
        <div class="col-xs-5 left-col avatar-container">
            <form method="post" enctype="multipart/form-data">
                <label for="file-input">
                    <img class="avatarImg" src="/Pages/GetUserAvatar?userid=@userIdStr" />
                </label>
                <input id="file-input" name="file" type="file" accept="image/*" @disabledBtn/>
            </form>
        </div>
        <div class="col-xs-6 right-col form-group editBlock hide">
            <label for="awards">Awards:</label>
            <textarea class="form-control awardsArea" rows="6" id="awards" readonly="readonly">@awards</textarea>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 left-col form-group has-feedback">
            <label for="name">Name:</label>
            <input class="form-control nameInput readonly" id="name" name="name" type="text" value="@name" @readOnly/>
            <span class="glyphicon glyphicon-warning-sign form-control-feedback hide badIcon"></span>
            <span class="glyphicon glyphicon-ok form-control-feedback hide goodIcon"></span>
        </div>
        <div class="col-xs-6 right-col form-group editBlock awardBtns hide">
            <button class="btn btn-default giveAwardBtn" @disabledBtn>Give Award</button>
            <button class="btn btn-default revokeAwardBtn" @disabledBtn>Revoke Award</button>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 left-col form-group has-feedback">
            <label for="bDay">Birth Day:</label>
            <input class="form-control dateInput" id="bDay" name="bDay" type="text" value="@bDay" @readOnly/>
            <span class="glyphicon glyphicon-warning-sign form-control-feedback hide badIcon"></span>
            <span class="glyphicon glyphicon-ok form-control-feedback hide goodIcon"></span>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-5 left-col">
            <button type="button" class="btn btn-primary saveBtn" @disabledBtn>Save</button>
        </div>
    </div>
    <div class="row rowDelBtn editBlock hide">
        <div>
            <button class="btn btn-danger deleteBtn" data-toggle="modal" data-target="#deletePrompt" @disabledBtn>
                Delete Employee
            </button>
        </div>
    </div>

    @RenderPage("_ErrorAlertPartial.cshtml")

    @RenderPage("_DeletePromptPartial.cshtml")

    @RenderPage("_AwardPromptPartial.cshtml")
</div>

@section scripts {
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-2.1.4.intellisense.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/jquery.inputmask/inputmask.js"></script>
    <script src="~/Scripts/jquery.inputmask/inputmask.date.extensions.js"></script>
    <script src="~/Scripts/jquery.inputmask/jquery.inputmask.js"></script>
    <script src="~/Scripts/employeesNavbar.js"></script>
    <script src="~/Scripts/newEmployee.js"></script>
}

@section header {
    <link rel="icon" type="image/png" href="~/images/employee_icon.png" />
}