<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    @RenderSection("header", required: false)
    <title>@PageData["Title"]</title>
</head>
<body>

    <!-- Navbar -->
    @RenderPage("~/Pages/_NavbarPartial.cshtml")
    <!--  -->

    <div class="content-main">
        @RenderBody()
    </div>

    @RenderSection("scripts", required: false)

    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</body>
</html>
